

h1, h2, h3, h4, h5, a, p {
	font-family: 'Quicksand', sans-serif;
	color: #242523;
}

strong a {
	font-weight: bold;
	text-decoration: none;
}
strong a:hover {
	color: dodgerblue;
}

.mdl-logo {
	font-family: 'Quicksand', sans-serif;
}


.logo-espace{
	letter-spacing: 0.25em;
	font-variant-ligatures: none;
}

h1 {
	letter-spacing: 0.16em;
	padding-top: 0px;
	margin-top:0px;
	padding-bottom: 0px;
	margin-bottom:0px;
}

.mdl-mini-footer {
	padding-top: 1em;
	padding-bottom: 1.5em;
	justify-content: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame{
	white-space: nowrap;
}

.bonsai{
	vertical-align: middle;
}

.jap{
	font-family: "Sawarabi Mincho";
	letter-spacing: 0.45em;
}

.mdl-button {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	padding-left: 1em;
	padding-right: 1em;
}

.material-icons {
	font-size: 1.5em;
	padding-bottom: 0.15em;
}

.mdl-layout-spacer{
	/*background: #ffeded;*/
	stroke: black 1px;
}

.mdl-cell, svg{
	justify-content: center;
	align-content: center;
	text-align:center;
	/*background: rgba(250,0,0,0.1);*/
}

.mdl-grid {
	justify-content: center;
}

.demo-layout-transparent {
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #ced3cc;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to bottom, #ecefea, #ced3cc);
    background: -moz-linear-gradient(to bottom, #ecefea, #ced3cc);
    background: -ms-linear-gradient(to bottom, #ecefea, #ced3cc);
    background: -o-linear-gradient(to bottom, #ecefea, #ced3cc);
    background: linear-gradient(to bottom, #ecefea, #ced3cc);
}

.black-gradient {
	height:inherit;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
    background: -ms-linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
}